/* Place your CSS styles in this file */
/* Place your CSS styles in this file */
@font-face {
    font-family: 'editorial';
    src: url('editorial.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'formula';
    src: url('formula.woff') format('woff');
    font-style: normal;
}
body{
    background-color:white;
}

article, p, li {
    font-family: 'editorial';
    color: #27412D;
    text-align: center;
}

ul {
    list-style-position: inside;
}

h2 {
    font-family: 'formula';
    letter-spacing: 1px;
    color: #F85501;
    text-align: center;
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 150px;
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 1px solid #0a592c;
}

button {
    font-family: 'formula';
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #0a592c;
    color: #F85501;
    border-radius: 50px;
    border: 1px solid #0a592c;
    width: 250px;
    height: 50px;
    box-shadow: none;
}

div.lineseperation {
    border-bottom: 1px solid #0a592c;
    padding: 10px;
    margin: 5px auto;
    width: 50%;
}
